<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User page</title>
</head>
<body>
  
  <img src="{{ img }}" alt="Trulli" width="500" height="333">

  <video width=""height=""controls> 
    <source src="{{ vid}}" type="video/mp4"> 
</video> 
<!-- 
{% for items in data %}
  <h1>test</h1>
  <iframe src="{{url}}"></iframe>
  <h4>{{a}}</h4>
{% endfor %}
-->
<!-- 
{% for i in data1 %}
    <img src="{{i.ad_snapshot_url}}" alt="..." Height="330px" width="330px">
{% endfor %}
-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>